

/* ==========================================================================

   Immersive Mode properties panel hidden

   ========================================================================== */

/* Responsible for main edit area: use extremely high priority to override source mode and live preview mode */

/* Immersive Hide Properties */

body.immersive-hide-properties div.workspace-leaf-content[data-type="markdown"] div.markdown-source-view div.metadata-container,

body.immersive-hide-properties div.workspace-leaf-content[data-type="markdown"] div.metadata-container {
	display: none;
}

body.immersive-hide-properties .markdown-reading-view .metadata-container {
	display: none;
}

body.immersive-hide-properties .markdown-reading-view .frontmatter-container {
	display: none;
}

body.immersive-hide-properties .markdown-reading-view .frontmatter {
	display: none;
}