

.immersive-chapter-left {
	display: flex;
	flex-direction: column;
	gap: 4px;
	align-items: flex-start;
}

.immersive-chapter-title {
	word-break: break-all;
}

.immersive-chapter-badges {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}